.pg1 {
  background-image: url(img/bg11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  min-height: 100vh;
}

.inline-b {
  display: inline-block;
}

.pg1 .col-md {
  margin: 0;
  padding: 0;
}

.card {
  margin-bottom: 50px;
}

.pg1 .header {
  text-align: center;
}

.pg1 .col-md h5,
.pg1 .col-md a,
.pg1 .col-md img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 5px 0;
  padding: 0;
}

.pg1 .col-md a {
  font-size: 1.2rem;
}

.pg1 .header .btn {
  padding: 5px;
}

.pg1 hr {
  width: 90%;
}

.pg1 h1 {
  width: 80%;
  font-size: 3rem;
  margin: 40px 0 30px 0;
}

.pg1 h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.pg1 .dark-bg {
  text-align: center;
  font-size: 2rem;
  background: rgb(64, 64, 64);
  color: white;
  margin: 0;
  padding: 30px 40px;
}
.pg1 .card {
  width: 30rem;
  border: 0;
}

.pg1 .card-body {
  background-color: lightgray;
}

.pg1 h5,
.pg1 a,
.pg1 select {
  margin-left: 30px;
}

.pg1 select {
  height: 40px;
  width: 85%;
  margin-bottom: 20px;
}

.pg1 .card {
  position: relative;
}

.pg1 .card-inner {
  position: absolute;
  top: 0;
  left: 0;
}

.pg1 .card-body .btn {
  padding-left: 34.5px;
  padding-right: 34.5px;
  font: 1.5rem bold;
}

.pg2 {
  margin-top: 150px;
  text-align: center;
}

.pg2 hr {
  border: 1.5px solid darkred;
  border-radius: 5px;
  width: 7%;
  margin-bottom: 0;
}

.pg2 .bg2 hr {
  margin-left: 145px;
}

.pg2 h3 {
  font-size: 2.2rem;
  font: bold;
  margin-bottom: 20px;
}
.pg2 img {
  margin-bottom: 40px;
  margin-top: 40px;
}

.pg2 .bg2 {
  background-image: url(img/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 25px;
}

.pg2 .bg2 .btn {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 50px;
}

.pg2 .bg2 a {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -20px;
}

.pg3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pg3 h5 {
  margin: 40px;
}

.pg3 .hr3 {
  border: 1.5px solid darkred;
  border-radius: 5px;
  width: 7%;
  margin-bottom: 0;
}
.pg3 hr {
  border: 0.5px solid gray;
  margin-bottom: 0;
  width: 100%;
}

.pg3 .hr1 {
  border: 1.5px solid darkred;
  border-radius: 5px;
  width: 12%;
  margin-bottom: 50px;
}
.pg3 h3 {
  font-size: 2.2rem;
  font: bold;
  margin-bottom: 20px;
}

.pg3 .col-md {
  margin: 10px;
}

.pg3 h4 {
  text-transform: uppercase;
}

.pg3 .b-container {
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(img/l-container1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}
.pg3 .r-container {
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(img/l-container2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}
.pg4 hr {
  border: 1.5px solid darkred;
  border-radius: 5px;
  width: 7%;
  margin-bottom: 0;
}
.pg4 h3 {
  font-size: 2.2rem;
  font: bold;
  margin-bottom: 20px;
  text-align: center;
}
.pg4 .bg2 {
  background-image: url(img/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 25px;
}
.pg4 .s-b-container {
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pg4 .col-sm {
  max-width: 200px;
}
.s-container1 {
  background-image: url(img/s-container1.png);
}
.s-container2 {
  background-image: url(img/s-container2.png);
}
.s-container3 {
  background-image: url(img/s-container3.png);
}
.s-container4 {
  background-image: url(img/s-container4.png);
}
.s-container5 {
  background-image: url(img/s-container5.png);
}
.s-container6 {
  background-image: url(img/s-container6.png);
}
.pg4 h6 {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2rem;
}
.pg4 p {
  margin-bottom: 0;
}
.pg5 {
  margin-top: 50px;
}
.pg5 .hr3 {
  border: 1.5px solid darkred;
  border-radius: 5px;
  width: 7%;
  margin-bottom: 0;
}
.pg5 h3 {
  font-size: 2.2rem;
  font: bold;
  margin-bottom: 20px;
  text-align: center;
}
.pg5 h5 {
  text-align: center;
  margin-bottom: 30px;
}
.pg5 hr {
  border: 1.5px solid lightgray;
  border-radius: 5px;
  margin-bottom: 0;
}
.pg5 .costumer-service {
  width: 100%;
}
.pg5 p,
.pg5 h6 {
  font-size: 1.2rem;
}
.pg5 .col-7 p,
.pg5 .l-gray {
  color: lightgray;
}
.pg5 .l-gray {
  margin-left: 50px;
  margin-bottom: 30px;
}

.pg5 .testemonial {
  margin-top: 20px;
}
.pg6 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.pg6 hr {
  border: 1.5px solid darkred;
  border-radius: 5px;
  width: 12%;
  margin-bottom: 0;
  margin-left: 0px;
}
.pg6 .l-col h3 {
  font-size: 2.2rem;
  font: bold;
  margin-bottom: 20px;
}
.pg6 .l-col p {
  font-size: 1.2rem;
}
.pg6 .l-col .col-sm-4 {
  padding: 0;
}
.pg6 .r-col {
  text-align: center;
  background-image: url(img/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pg6 .r-col h4 {
  margin: 30px;
  font-size: 2rem;
}
.pg6 .r-col a {
  font-size: 1.5rem;
  padding-left: 100px;
  padding-right: 100px;
}
.pg6 .r-col h5 {
  margin: 20px;
  font-weight: bold;
}
footer p {
  padding-top: 80px;
  color: white;
}
footer {
  height: 200px;
  background: rgb(64, 64, 64);
}

@media (max-width: 1200px) {
  .pg1 h1 {
    font-size: 2rem;
  }
  .pg1 h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 770px) {
  .pg1 h1 {
    width: 100%;
    font-size: 2rem;
    margin: 10px 0 10px 0;
  }
  .pg1 h3 {
    font-size: 1rem;
  }
  .pg1 .dark-bg {
    text-align: center;
    font-size: 1.5rem;
    background: rgb(64, 64, 64);
    color: white;
    margin: 0;
    padding: 10px 10px;
  }
}
@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .pg1 {
    /* background-image: none; */
  }
  .pg1 .col-md h5,
  .pg1 .col-md a,
  .pg1 .col-md img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 10px;
    padding: 0;
  }
  .pg1 .container {
    padding: 0;
  }
  .pg1 .card-inner {
    position: relative;
    width: 100%;
  }
  .pg1 select {
    margin-right: 50px;
  }
  .pg2 {
    width: 100%;
    margin-top: 10px;
  }
  .pg2 .bg2 hr {
    margin-left: auto;
  }
  .pg2 img {
    margin: 10px;
  }
  .clock {
    display: none;
  }
  .pg6 hr {
    margin-left: auto;
  }
  .pg6 {
    margin-bottom: 0px;
  }
}
